<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a [routerLink]="'./home'">Home</a> <span class="mx-2 mb-0">/</span> <a
          [routerLink]="'./shop'">Shop</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{
            vn.productName}}</strong>
      </div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="item-entry">
          <a href="javascript:void(0)" class="product-item md-height bg-gray d-block">
            <img [src]="'../../../assets/images/' + vn.imgSource + '.png'" alt="Image" class="img-fluid">
          </a>

        </div>

      </div>
      <div class="col-md-6">
        <h2 class="text-black">{{vn.productName}}</h2>
        <p>{{vn.productDescription}}.</p>
        <p class="mb-4">Vui lòng liên hệ nhân viên để được hỗ trợ. Hotline: +84 90990090.</p>
        <p><strong class="text-primary h4">${{vn.price}}</strong></p>
        <div class="mb-1 d-flex">
          <mat-radio-group class="d-flex mr-3 mb-3" [(ngModel)]="vn.size">
            <mat-radio-button class="d-inline-block mr-2" *ngFor="let size of sizes" [checked]="size.checked">
              {{size.name}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="mb-5">
          <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
              <button (click)="clickToDecreaseQuantity()" class="btn btn-outline-primary js-btn-minus"
                type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" value="{{quantity}}" placeholder=""
              aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button (click)="clickToInscreaseQuantity()" class="btn btn-outline-primary js-btn-plus"
                type="button">&#43;</button>
            </div>
          </div>

        </div>
        <p><a (click)="onClickaddtoCart()" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a>
        </p>

      </div>
    </div>
  </div>
</div>

<div class="site-section block-3 site-blocks-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7 site-section-heading text-center pt-4">
        <h2>Featured Products</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 block-3">
        <div class="nonloop-block-3 owl-carousel">
          <div class="item">
            <div class="item-entry">
              <a href="javascript:void(0)" class="product-item md-height bg-gray d-block">
                <img src="../../../assets/images/model_1.png" alt="Image" class="img-fluid">
              </a>
              <h2 class="item-title"><a href="javascript:void(0)">Smooth Cloth</a></h2>
              <strong class="item-price"><del>$46.00</del> $28.00</strong>
              <div class="star-rating">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-entry">
              <a href="javascript:void(0)" class="product-item md-height bg-gray d-block">
                <img src="../../../assets/images/prod_3.png" alt="Image" class="img-fluid">
              </a>
              <h2 class="item-title"><a href="javascript:void(0)">Blue Shoe High Heels</a></h2>
              <strong class="item-price"><del>$46.00</del> $28.00</strong>

              <div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-entry">
              <a href="javascript:void(0)" class="product-item md-height bg-gray d-block">
                <img src="../../../assets/images/model_5.png" alt="Image" class="img-fluid">
              </a>
              <h2 class="item-title"><a href="javascript:void(0)">Denim Jacket</a></h2>
              <strong class="item-price"><del>$46.00</del> $28.00</strong>

              <div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
              </div>

            </div>
          </div>
          <div class="item">
            <div class="item-entry">
              <a href="javascript:void(0)" class="product-item md-height bg-gray d-block">
                <img src="../../../assets/images/prod_1.png" alt="Image" class="img-fluid">
              </a>
              <h2 class="item-title"><a href="javascript:void(0)">Leather Green Bag</a></h2>
              <strong class="item-price"><del>$46.00</del> $28.00</strong>
              <div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item-entry">
              <a href="javascript:void(0)" class="product-item md-height bg-gray d-block">
                <img src="../../../assets/images/model_7.png" alt="Image" class="img-fluid">
              </a>
              <h2 class="item-title"><a href="javascript:void(0)">Yellow Jacket</a></h2>
              <strong class="item-price">$58.00</strong>
              <div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>